.block-button {
  /* text-transform: uppercase; */
  /* color: #F00; */
  font-size: 1em;
  border: 0;
  background: none;
  height: 48px;
  text-align: left;
  display: block;
  padding: 0 8px;
  width: 100%;
}