@import "../app-toolbar/app-toolbar.css";
@import "../flexbox/flexbox.css";
@import "../icon-button/icon-button.css";
@import "../search-toolbar/search-toolbar.css";
@import "../toolbar/toolbar.css";
@import "../track-tile/track-tile.css";
@import "../artwork/artwork.css";
@import "../modal/modal.css";
@import "../floating-button/floating-button.css";
@import "../track-modal-content/track-modal-content.css";
@import "../artwork-large/artwork-large.css";

:root {
  --main-bg-color: #E6E6E6;
  --button-height: 56px;
  --placeholder-color: rgb(172, 172, 172);
  --placeholder-bg-color: #F6F6F6;
  --border-color: rgb(249, 246, 246);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.app {
  margin-top: var(--button-height);
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

audio {
  display: none;
}