.artwork {
    --artwork-size: 50px;
    height: var(--artwork-size);
    height: var(--artwork-size);
    overflow: hidden;
}

.artwork img {
    height: var(--artwork-size);
    width: var(--artwork-size);
    overflow: hidden;
}

.artwork .placeholder {
    color: var(--placeholder-color);
    height: var(--artwork-size);
    width: var(--artwork-size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--placeholder-bg-color);
}