.modal .content {
  position: fixed;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 0px -8px 24px -3px rgb(0, 0, 0);
  animation: bouncy-modal 400ms linear;
}

.modal .overlay {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  animation: fade-in 400ms linear;
}

.modal button.btn-block {
  text-transform: uppercase;
}

.modal .floating-button {
  top: 0;
  position: absolute;
  right: 8px;
  transform: translateY(-50%);
}

.modal.animate-out .overlay {
  animation: fade-out 400ms cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.modal.animate-out .content {
  animation: swipe-out 400ms cubic-bezier(0.6, -0.28, 0.74, 0.05);
}