.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.modal-content {
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 0px -8px 24px -3px rgb(0, 0, 0);
  animation: bouncy-modal 400ms linear;
  position: absolute;
}

.modal-overlay {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  animation: fade-in 400ms linear;
}

.modal button.btn-block {
  text-transform: uppercase;
}

.modal .floating-button {
  top: 0;
  position: absolute;
  right: 8px;
  transform: translateY(-50%);
  outline: none;
}

.modal.animate-out .modal-overlay {
  animation: overlay-fade-out 400ms cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.modal.animate-out .modal-content {
  animation: modal-swipe-out 400ms cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

@keyframes overlay-fade-out {
  to {
    opacity: 0;
  }
}

@keyframes modal-swipe-out {
  100% {
    transform: translateY(100%);
  }
}

@keyframes bouncy-modal {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-15%);
  }
  75% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
