.toolbar.search-toolbar {
  position: fixed;
  background-color: var(--main-bg-color);
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
}

.toolbar.search-toolbar input {
  flex-grow: 1;
  margin: 0;
  padding: 16px;
  font-size: 1em;
  height: var(--button-height);
  border: none;
  background: none;
}

.toolbar.search-toolbar input:focus {
  outline: none;
}