.artwork-large {
  --size: 250px;
  width: 100%;
  background-color: var(--placeholder-bg-color);
}

.artwork-large .img-holder {
  height: var(--size);
  background: no-repeat center center;
  width: 100%;
  margin: auto;
  background-size: cover;
}

.artwork-large .placeholder {
  color: var(--placeholder-color);
  background-color: var(--placeholder-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--size);
  margin: auto;
}

.artwork-large .placeholder .material-icons {
  font-size: 4em;
}