@import "components/app-toolbar.css";
@import "components/flexbox.css";
@import "components/icon-button.css";
@import "components/search-toolbar.css";
@import "components/toolbar.css";
@import "components/track-tile.css";

:root {
  --main-bg-color: #E6E6E6;
  --button-height: 56px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgb(34, 34, 34);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.app {
  margin-top: var(--button-height);
}
