@import "../app-toolbar/app-toolbar.css";
@import "../flexbox/flexbox.css";
@import "../icon-button/icon-button.css";
@import "../search-toolbar/search-toolbar.css";
@import "../toolbar/toolbar.css";
@import "../track-tile/track-tile.css";
@import "../artwork/artwork.css";
@import "../modal/modal.css";

:root {
  --main-bg-color: #E6E6E6;
  --button-height: 56px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgb(34, 34, 34);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.app {
  margin-top: var(--button-height);
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bouncy-modal {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}